{% extends '_base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% comment %} <h2>Add A New Game</h2> {% endcomment %}
<form method="post" class="uniForm">
  {% csrf_token %}
  <style>
    h2{
      color: #991D57;
      display:fixed:
      text-align: center;
      margin: auto;
      font-family: 'Lexend Deca', sans-serif;
    }
  </style>
  <div id="contact-form">
    <div>
      <h2>Add A New Game</h2>
    </div>
      
         <form method="post" >
          {{ form|crispy }}
        
        <div>      
            <button name="submit" type="submit" id="submit" value="SAVE">SAVE</button> 
        </div>
         </form>
  
    </div>


</form>
{% endblock content %}